:root {
  --mainfore-color: #00cccc;
  --mainback-color: #203030;
  --codefore-color: #ffffff;
  --codeback-color: #202525;
  --codeborder-color: #202828;
  --ul-color: #203535;
}

body {
  font-family: 'Aldrich';
  font-size: 15px;
  background-color: var(--mainback-color);
  color: var(--mainfore-color);
}

header {
  font-size: 25px;
  background-color: #303030;
  border-style: line none line none;
  border-width: 1px;
  padding: 5px;
  margin: 0px;
}

p {
  padding: 5px;
  margin: 5px;
}

a:hover {
  color: #00cc00;
}

.button {
  width: max-content;
  font-size: 20px;
  padding: 5px;
  background-color: var(--mainback-color);
  color: var(--mainfore-color);
  border-style: none none none none;
  outline: none;
}

.button:hover {
  color: #00cc00;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.format {
  padding: 5px;
  margin: 0px;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  background-color: var(--codeback-color);
  color: var(--codefore-color);
  border-radius: 10%;
  border-style: solid;
  border-color: var(--codeborder-color);
}

ul {
  background-color: var(--ul-code);
  border-radius: 10%;
  border-style: solid;
  border-color: var(--codeborder-color);
}